{% extends "index.html" %} {% block content %}
    <style>

.invoice {
    width: 97%;
    height: 100%;
    background-color: white;
    margin: 15px;
    padding: 15px;
    border-radius: 5px;
    overflow: auto;
    overflow-y: scroll;
}

.invoiceTile {
  font-size: 18px;
  color: black;
  font-family: Arial;
}

.invoiceList {
  float: right;
  width: 100px;
  height: 30px;
  border: none;
  margin-right: 30px;
  border-radius: 2px;
  background-color: #4ea752;
  margin-top: -8px;
}

.invoiceDetail {
  width: 98%;
  height: auto;
  margin-left: 10px;
  margin-top: 35px;
  padding: 5px;
}

.row {
  width: 99%;
    display: flex;
}

.cName,
.cDate,
.cInvoice,
.cDetail,
.cId {
  width: 50%;
  height: 13%;
  margin-top: 15px;
  flex: 50%;

  /*position: relative;*/
}

label {
  font-size: 15px;
  font-family: Arial;
  color: black;
  /*font-weight: bold;*/
  display: inline-block;
  width: 35%;
  text-align: right;
}

input[type="text"],
datalist {
  height: 35px;
  width: 45%;
  border: 1px solid #ccc;
  border-radius: 5px;
  font-family: Arial;
  padding: 8px;
  color: #495057;
}

input:focus,
datalist {
  outline: none;
  border: 2px solid #4ea752;
}

.medicineDetail {
  width: 97%;
  height: 300px;
  /*background-color: #d22824;*/
}

table {
  width: 100%;
  color: black;
  border-spacing: 2px;
  text-align: center;
  border-collapse: collapse;
  margin-top: 15px;
}

th {
  /*background-color: #106b67;*/
  font-weight: bolder;
}

td,
th {
  border: 1px solid #ddd;
  padding: 1px;
}
button {
  border: none;
  cursor: pointer;
}

button:hover {
  cursor: pointer;
}

.invoiceList {
  float: right;
  width: 100px;
  height: 30px;
  border: none;
  margin-right: 30px;
  border-radius: 2px;
  background-color: #4ea752;
  margin-top: -8px;
}

.save,
.cancel {
  width: 80px;
  height: 30px;
  width: 80px;
  margin-top: 30px;
  border: none;
}

.save {
  background-color: #106b67;
  margin-right: 10px;
  float: right;
  margin-top: 30px;
}

.cancel {
  background-color: #ff9800;
  float: right;
  margin-top: 30px;
  margin-right: 120px;
}
.deleteIcon {
    background-image: url("{{url_for('static',filename='img/delete.png')}}");
}

.deleteIcon,
.addIcon {
  width: 24px;
  height: 24px;
  cursor: pointer;
}


</style>


    <div class="invoice">
        <div class="invoiceTile">
            Add Invoice
            <button class="invoiceList"><img src="{{url_for('static',filename='img/list.png')}}">  Invoice List</button>
            <hr>
        </div>

        <div class="invoiceDetail">
            <div class="invoicePara">
                <form action="#" method="post">
                    <div class="row">
                            <div class="cName">
                                <label>
                                    Customer Name :
                                </label>
                                <input type="text" value="Walking Customer">
                            </div>
                            <div class="cDate">
                                <label>
                                    Date :
                                </label>
                                <input type="text" value="05-19-2021" style="background-color: #e9ecef" disabled>
                            </div>
                    </div>
                    <div class="row">
                            <div class="cInvoice">
                                <label>
                                    Invoice No :
                                </label>
                                <input type="text" value="1016" style="background-color: #e9ecef" disabled>
                            </div>
                            <div class="cDetail">
                                <label>
                                    Details :
                                </label>
                                <input type="text">
                            </div>

                        </div>

                </form>
                 <div class="medicineDetail">
                        <table id="myTable">
                            <thead>
                                <tr>
                                    <th>Medicine Name</th>
                                    <th>Avail Qty</th>
                                    <th>Expiry Date</th>
                                    <th>Unit</th>
                                    <th>Quantity</th>
                                    <th>Price</th>
                                    <th>Discount (%)</th>
                                    <th>Total</th>
                                    <th>Action</th>
                                </tr>
                            </thead>

                                <tbody>
                                    <tr>
                                        <td>
                                           <input class="inputInvoice" list="inputInvoice" type="text" placeholder="Medicine Name" style="width: 99%">
                                            <datalist id="inputInvoice">
                                                  <option value="Edge">
                                                  <option value="Firefox">
                                                  <option value="Chrome">
                                                  <option value="Opera">
                                                  <option value="Safari">
                                            </datalist>

                                        </td>
                                        <td>
                                            <input type="text" class="inputInvoice" style="width: 99%; background-color: #e9ecef" disabled>
                                        </td>
                                        <td>
                                            <input type="text" class="inputInvoice" style="width: 99%; background-color: #e9ecef" disabled>
                                        </td>
                                        <td>
                                            <input type="text" class="inputInvoice" style="width: 99%; background-color: #e9ecef" disabled>
                                        </td>
                                        <td>
                                            <input type="text" class="inputInvoice" style="width: 99%">
                                        </td>
                                        <td>
                                            <input type="text" class="inputInvoice" style="width: 99%; background-color: #e9ecef" disabled>
                                        </td>
                                        <td>
                                            <input type="text" class="inputInvoice" style="width: 99%">
                                        </td>
                                        <td>
                                            <input type="text" class="inputInvoice" style="width: 99%; background-color: #e9ecef" disabled>
                                        </td>
                                        <td>
                                            <input type="button" class="deleteIcon" class="delBtn" onclick="removeRow(this)" style="border: none; "> <!--background-image: url('{{url_for('static',filename='img/delete.png')}}')-->
                                        </td>

                                    </tr>

                                </tbody>


                            <tfooter>
                                <tr>
                                    <td colspan="6">
                                    </td>
                                    <td>
                                        Invoice Discount:
                                    </td>
                                    <td>
                                        <input type="text" style="width: 99%">
                                    </td>
                                    <td>
                                        <input type="button" class="addIcon" id="addRow" style="border: none; background-image: url({{url_for('static',filename='img/add.png')}})">
                                    </td>
                                </tr>
                                <tr>
                                    <td colspan="6">
                                    </td>
                                    <td>
                                        Total Discount:
                                    </td>
                                    <td>
                                        <input type="text" style="width: 99%; background-color: #e9ecef" disabled>
                                    </td>
                                </tr>
                                <tr>
                                    <td colspan="6">
                                    </td>
                                    <td>
                                        Total Amount:
                                    </td>
                                    <td>
                                        <input type="text" style="width: 99%; background-color: #e9ecef" disabled>
                                    </td>
                                </tr>
                                <tr>
                                    <td colspan="6">
                                    </td>
                                    <td>
                                        Previous:
                                    </td>
                                    <td>
                                        <input type="text" style="width: 99%; background-color: #e9ecef" disabled>
                                    </td>
                                </tr>
                                <tr>
                                    <td colspan="6">
                                    </td>
                                    <td>
                                        Net Total:
                                    </td>
                                    <td>
                                        <input type="text" style="width: 99%; background-color: #e9ecef" disabled>
                                    </td>
                                </tr>
                                <tr>
                                    <td colspan="6">
                                    </td>
                                    <td>
                                        Amount Paid:
                                    </td>
                                    <td>
                                        <input type="text" style="width: 99%">
                                    </td>
                                </tr>
                                <tr>
                                    <td colspan="6">
                                    </td>
                                    <td>
                                        Due Amount:
                                    </td>
                                    <td>
                                        <input type="text" style="width: 99%; background-color: #e9ecef" disabled>
                                    </td>
                                </tr>
                            </tfooter>
                        </table>

                        <button class="cancel">
                                Cancel
                        </button>
                        <button class="save">
                                Save
                        </button>


                    </div>
            </div>


        </div>

    </div>


  <script src="{{url_for('static',filename='js/addInvoice.js')}}"></script>
{% endblock %}
{% block style %}

<link rel="stylesheet" href="{{url_for('static',filename='css/invoice.css')}}">{% endblock %}
